{% extends "timecard/base_timecard.html" %}
{% load comments %}

{% block title %}{{ block.super }}: for {{ date|date:"d F, Y" }}{% endblock %}

{% block content_title %}
	<h2>Timecard for {{ date|date:"d F, Y" }}</h2>
{% endblock %}

{% block content %}
	{% if timecard %}<p>See this weeks <a href="{{ timecard.get_absolute_url }}">Timecard</a>.</p>{% endif %}
	
	{% if manager %}
		<p>
			You currently managing:
			{% for sub in manager %}<a href="{{ sub.get_absolute_url }}">{{ sub }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
		</p>
	{% endif %}
	
	{% if employee %}
		<form action="." method="post" accept-charset="utf-8">
			<fieldset id="timecard">
				<legend>Timecard</legend>
				{{ form.as_p }}
			</fieldset>
			<p><input type="submit" value="Punch"></p>
		</form>
	{% endif %}
{% endblock %}