{% extends "timecard/base_timecard.html" %}

{% block title %}{{ block.super }}: for {{ date|date:"d F, Y" }}{% endblock %}

{% block content_title %}
	<h2>Timecard for {{ date|date:"d F, Y" }}
{% endblock %}

{% block content %}
	<table border="0">
		<tr><th>Time in</th><th>Lunch out</th><th>Lunch in</th><th>Time out</th><th>Hours</th></tr>
		{% for timecard in timecards %}
			<tr>
				<th>{{ timecard.date|date:"d" }}</th>
				<td>{{ timecard.time_in }}</td>
				<td>{{ timecard.lunch_out }}</td>
				<td>{{ timecard.lunch_in }}</td>
				<td>{{ timecard.time_out }}</td>
				<th>{{ timecard.display_hours }}</th>
			</tr>
		{% endfor %}
		<tr>
			<th>{{ week_total_hours }}</th>
		</tr>
	</table>
{% endblock %}